@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Playwrite+DE+Grund:wght@100..400&family=Share+Tech&display=swap');
:root {
  --cor1: #007BFF;
  --cor2: #FFD700;
  --cor3: #FF5733;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
header {
  background-color: black;
  color: white;
  width: 100vw;
  box-shadow: -2px 2px 7px 1px rgba(0, 0, 0, 0.511)
}
header h1 {
  text-align: center;
  padding-top: 10px;
  font-family: 'Bungee';
}
nav {
  background-color: rgba(0, 0, 0, 0.561);
  margin-top: 10px;
  padding-left: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Share Tech";
  font-weight: bold;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 3px 5px 0px 5px;
  transition-duration: 0.5s;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.419);
}
#inicial {
  background-color: rgb(0, 159, 159);
  border-top-left-radius: 5px;
}
#inicial:active {
  background-color: aqua;
  border-top-left-radius: 10px;
}
#html {
  background-color: #a41e00;
  border-top-left-radius: 5px;
}
#html:active {
  background-color: red;
  border-top-left-radius: 10px;
}
#css {
  background-color: #0051a8;
  border-top-left-radius: 5px;
}
#css:active {
  background-color: #007BFF;
  border-top-left-radius: 10px;
}
#js {
  display: none;
  background-color: #ceaf00;
  border-top-left-radius: 5px;
}
#jsmob {
  background-color: #ceaf00;
  border-top-left-radius: 5px;
}
#jsmob:active {
  background-color: #FFD700;
  border-top-left-radius: 10px;
}
#nav_pesquisa {
  width: 30%;
  text-align: center;
}
#barrapesquisa {
  padding: 3px;
  border-top-left-radius: 5px;
  width: 70%;
  border: none;
}
#btpesquisa {
  padding: 2px;
  border-top-right-radius: 5px;
  border: none;
  background-color: white;
}
#btpesquisa:active {
  background-color: gray;
  color: white;
}
#login {
  background-color: #6e6e6e;
  border-top-right-radius: 5px;
  margin-right: 5px;
}
#login:active {
  background-color: #949494;
  border-top-right-radius: 10px;
}
#loginForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#telaEscura {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
#form {
  border: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
}
#form input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
#btEnter {
  padding: 5px;
  margin-top: 5px;
  margin-right: 3px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #0021a3;
  transition-duration: .3s;
}
#btEnter:active {
  background-color: #0051a8;
}
#btFechar {
  padding: 5px;
  margin-top: 5px;
  margin-right: 3px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #a41e00;
  transition-duration: .3s;
}
#btFechar:active {
  background-color: #ff2f00;
}
main {
  width: 90vw;
  margin: auto;
  padding: 10px;
}
main h1 {
  color: #0021a3;
  font-size: 20px;
}
main h2 {
  margin-top: 10px;
  font-size: 16px;
}
main p {
  margin: 10px;
  text-indent: 10px;
}
strong a {
  text-decoration: none;
  color: black;
}
pre {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 100%;
  box-sizing: border-box;
}
ul {
  list-style-position: inside;
}
form.coment {
  background-color: #181E40;
  padding: 10px;
  border-radius: 15px;
}
label.coment {
  color: white;
  font-size: 14px;
}
textarea.coment {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 0 0 10px;
  background-color: #4150A6;
  color: white;
  resize: none;
  text-align: left;
  border: none;
  border-radius: 4px;
}
textarea.coment::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.658);
}
button.coment {
  border: none;
  background-color: #BFA62A;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
button.coment:active {
  background-color: #7f6f1e;
}
footer {
  background-color: black;
  width: 100vw;
  color: white;
  text-align: center;
}
/* Configuração para barra de pesquisa */
@media (max-width: 320px) {
  #nav_pesquisa {
    display: none;
  }
}
/* Tela média (tablets) */
@media (min-width: 434px) and (max-width: 991px) {
  nav {
    cursor: pointer;
  }
  nav a {
    font-size: 18px;
  }
  #nav_pesquisa {
    width: 30%;
  }
  #login {
    background-color: #6e6e6e;
    border-top-right-radius: 5px;
    margin-right: 30px;
  }
  #login:hover {
    background-color: #949494;
    border-top-right-radius: 10px;
  }
  #form {
    display: flex;
    flex-flow: column nowrap;

  }
  .labelLogin {
    text-align: center;
  }
  .buttons_login {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  #btEnter {
    flex-grow: 1;
  }
  #btFechar {
    flex-grow: 1;
  }
  #form input {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px 100px 5px 5px;
  }
  #btEnter:hover {
    background-color: #0051a8;
  }
  #btFechar:hover {
    background-color: #ff2f00;
  }
  main {
    width: 60vw;
  }
  #inicial {
    background-color: rgb(0, 159, 159);
    border-top-left-radius: 5px;
  }
  #inicial:hover {
    background-color: aqua;
    border-top-left-radius: 10px;
  }
  #html {
    background-color: #a41e00;
    border-top-left-radius: 5px;
  }
  #html:hover {
    background-color: red;
    border-top-left-radius: 10px;
  }
  #css {
    background-color: #0051a8;
    border-top-left-radius: 5px;
  }
  #css:hover {
    background-color: #007BFF;
    border-top-left-radius: 10px;
  }
  #js {
    display: inline;
    background-color: #ceaf00;
    border-top-left-radius: 5px;
  }
  #js:hover {
    background-color: #FFD700;
    border-top-left-radius: 10px;
  }
  #jsmob {
    display: none;
  }
  #shtml:hover {
    color: #ff2f00;
    text-decoration: underline;
  }
  #scss:hover {
    color: #0021a3;
    text-decoration: underline;
  }
  #sjs:hover {
    color: #ceaf00;
    text-decoration: underline;
  }
}
/* Tela grande (desktops pequenos) */
@media (min-width: 992px) and (max-width: 1200px) {
  nav a {
    font-size: 18px;
  }
  #login {
    background-color: #6e6e6e;
    border-top-right-radius: 5px;
    margin-right: 30px;
  }
  #login:hover {
    background-color: #949494;
    border-top-right-radius: 10px;
  }
  #form {
    display: flex;
    flex-flow: column nowrap;
  }
  .labelLogin {
    text-align: center;
  }
  .buttons_login {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  #btEnter {
    flex-grow: 1;
  }
  #btFechar {
    flex-grow: 1;
  }
  .labelLogin {
    align-self: center;
  }
  #form input {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px 150px 5px 5px;
  }
  #btEnter:hover {
    background-color: #0051a8;
  }
  #btFechar:hover {
    background-color: #ff2f00;
  }
  main {
    width: 60vw;
  }
  #inicial {
    background-color: rgb(0, 159, 159);
    border-top-left-radius: 5px;
  }
  #inicial:hover {
    background-color: aqua;
    border-top-left-radius: 10px;
  }
  #html {
    background-color: #a41e00;
    border-top-left-radius: 5px;
  }
  #html:hover {
    background-color: red;
    border-top-left-radius: 10px;
  }
  #css {
    background-color: #0051a8;
    border-top-left-radius: 5px;
  }
  #css:hover {
    background-color: #007BFF;
    border-top-left-radius: 10px;
  }
  #js {
    display: inline;
    background-color: #ceaf00;
    border-top-left-radius: 5px;
  }
  #js:hover {
    background-color: #FFD700;
    border-top-left-radius: 10px;
  }
  #jsmob {
    display: none;
  }
  #js {
    display: inline;
  }
  #shtml:hover {
    color: #ff2f00;
    text-decoration: underline;
  }
  #scss:hover {
    color: #0021a3;
    text-decoration: underline;
  }
  #sjs:hover {
    color: #ceaf00;
    text-decoration: underline;
  }
}
/* Tela extra grande (desktops grandes) */
@media (min-width: 1201px) {
  nav a {
    font-size: 18px;
  }
  #login {
    background-color: #6e6e6e;
    border-top-right-radius: 5px;
    margin-right: 30px;
  }
  #login:hover {
    background-color: #949494;
    border-top-right-radius: 10px;
  }
  #form {
    display: flex;
    flex-flow: column nowrap;
  }
  .labelLogin {
    text-align: center;
  }
  .buttons_login {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  #btEnter {
    flex-grow: 1;
  }
  #btFechar {
    flex-grow: 1;
  }
  .labelLogin {
    align-self: center;
  }
  #form input {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px 170px 5px 5px;
  }
  #btEnter:hover {
    background-color: #0051a8;
  }
  #btFechar:hover {
    background-color: #ff2f00;
  }
  main {
    width: 60vw;
  }
  #inicial {
    background-color: rgb(0, 159, 159);
    border-top-left-radius: 5px;
  }
  #inicial:hover {
    background-color: aqua;
    border-top-left-radius: 10px;
  }
  #html {
    background-color: #a41e00;
    border-top-left-radius: 5px;
  }
  #html:hover {
    background-color: red;
    border-top-left-radius: 10px;
  }
  #css {
    background-color: #0051a8;
    border-top-left-radius: 5px;
  }
  #css:hover {
    background-color: #007BFF;
    border-top-left-radius: 10px;
  }
  #js {
    display: inline;
    background-color: #ceaf00;
    border-top-left-radius: 5px;
  }
  #js:hover {
    background-color: #FFD700;
    border-top-left-radius: 10px;
  }
  #jsmob {
    display: none;
  }
  #js {
    display: inline;
  }
  #shtml:hover {
    color: #ff2f00;
    text-decoration: underline;
  }
  #scss:hover {
    color: #0021a3;
    text-decoration: underline;
  }
  #sjs:hover {
    color: #ceaf00;
    text-decoration: underline;
  }
}
